What's needed to use SmartBuilders
SmartBuilders.lua (of course)
UtilsFunc.lua
-HasViewChanged.lua
-AddSleepWake.lua
-OnWidgetState.lua
UnitsIDCard.lua
command_tracker.lua


Also modified vanilla:
api_cluster_detection.lua  
